@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(img/emy-XoByiBymX20-unsplash.jpg);
    object-fit: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

.container-form {
    position: relative;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;
    padding: 40px;
}

.container-form .toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid rgba(226, 144, 21, 0.527);
    border-bottom: 2px solid rgba(226, 144, 21, 0.527);
    transition: all .5s ease;
    cursor: pointer;
}

.container-form .toggle span {
    letter-spacing: 1px;
}

.container-form .toggle:hover {
    border-top: 2px solid rgba(170, 9, 9, 0.774);
    border-bottom: 2px solid rgba(170, 9, 9, 0.774);
}

.container-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400px;
    line-height: 1;
}

input {
    outline: none;
    background: rgba(0, 0, 0, .5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid rgba(226, 144, 21, 0.527);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 15px 0 0 0;
    transition: all .5s ease;
}

.iniciar,
.registrar {
    background: rgba(245, 161, 35, .7);
    margin-top: 15px;
    color: rgb(255, 254, 254);
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border-radius: 2px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
}

.container-form .reset-password {
    background: rgba(170, 9, 9, 0.774);
    color: #fff;
    width: 90%;
    margin-top: 15px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.container-form .formulario {
    padding: 20px;
    display: none;
}


/*para mostrar solo la primera parte */

.container-form .formulario:nth-child(2) {
    display: block;
}


/*icono vista iniciar sesion*/

.icon-vista-inicio {
    filter: brightness(0) saturate(100%) invert(41%) sepia(97%) saturate(453%) hue-rotate(357deg) brightness(92%) contrast(92%);
    position: absolute;
    bottom: 190px;
    left: 390px;
    width: 26px;
    height: 26px;
}


/*icono vista iniciar crear*/

.icon-vista-crear {
    filter: brightness(0) saturate(100%) invert(41%) sepia(97%) saturate(453%) hue-rotate(357deg) brightness(92%) contrast(92%);
    position: absolute;
    bottom: 176px;
    left: 390px;
    width: 26px;
    height: 26px;
}


/* mensajes de errores */

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}